* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.bg {
  background-color: #f4f5f6;
}

.skew {
  transform: skewX(0deg 30deg 0deg 0deg);
  top: 0;
}

.logo-pic {
  max-width: 30px;
}

body {
  background-color: #f4f5f6;
  margin: 0 auto;
  font-family: "Roboto Condenses", sans-serif;
}

.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar a:hover {
  color: red;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#h-top {
  /* background-color: red;  */
  background-color: #f72210;
  padding: 20px;
}

#h-top img {
  object-fit: unset;
}

#vs {
  border-radius: 50%;
  background-color: black;
  left: calc(50% - 25px);
  top: 43%;
}

figure figcaption {
  background-color: #ffffffe6;
  color: #f72210;
  bottom: 0;
  left: 0;
}

.showcase-title {
  color: #aaa;
  font-weight: bold;
  font-size: 14px;
}

.card a {
  font-size: 24px;
  line-height: 1;
}

/* In The Magazine Section */
.title {
  color: #000;
}

svg {
  color: #f72210;
  max-width: 200px;
}
.icon {
  display: inline-block;
  padding: 0.123em 0.3em;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #f72210;
}

.footer li {
  display: inline-block;
  color: #000;
}

.footer li a {
  color: #000;
}

.magazine button {
  background-color: #f72210;
  border-radius: 0;
  padding: 0.1em 0.3rem;
  margin-top: 10px;
  font-weight: 700;
}

.editors-pic-btn figcaption {
  position: relative;
  background-color: #ccc;
  padding: 0.2em 1em;
  font-weight: 700;
  top: -32px;
}

.editors-pic-btn a {
  text-decoration-color: #f72210;
  display: inline-block;
  margin-top: -40px;
}

.thumbnail-large {
  width: 100%;
  height: 300px;
}

.aside img {
  width: 70%;
  margin-right: 5px;
}

aside-txt {
  width: 100%;
  border: 1px solid red;
}
